.parallax 
{
  
  background-image: url("../help-together.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#myNavbar .navbar-brand
{
    padding: 5px 5px;
}
#myNavbar
{
    background-color: #fefbe4;
}
#myNavbar .active a
{
    background-color:#fefbe4;
}
.dropdown-menu
{
    background-color:#fefbe4;
}
.navbar-default .navbar-collapse .navbar-nav > .active:after,
.navbar-default .navbar-collapse .navbar-nav > li:hover:after
{
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: " ";
    border-bottom: 3px solid #5BC0EB;
}
.navbar-default .navbar-collapse.collapse.in .navbar-nav > .active:after, 
.navbar-default .navbar-collapse.collapsing .navbar-nav > .active:after
{
    border-bottom:none;
}

 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
footer
{
    background-color:#fefbe4;
    /*color:#fefbe4;*/
    
}
main
{
    padding:10px;
}

/*footer*/
footer
{
    padding:10px;
}
footer a,
footer a:hover
{
 
    /*color:#fefbe4;*/
    text-decoration: underline;
}
#sponsoring-form .btn
{
    margin-top:5px;
    background-color:#fefbe4;
    color:black;
}


/*image overlay*/

.overlay 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fefbe4;
}
.image-container 
{
    position: relative;
    padding:0px;
}
/*.image-container img
{
    object-fit:cover;
    height:200px;
    width:200px;
}*/

.image-container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: black;
  font-size: 22px;
  font-weight:700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
